---
---

@import "{{ site.theme }}";

$yellow: #f0db4f;
$black: #444;

.page-header {
  background-color:#555;
  background-image: radial-gradient(#555, #333);
  

  @include large {
    padding: 0rem;
  }

  @include medium {
    padding: 0rem;
  }

  @include small {
    padding: 0rem;
  }
}

.mainlogo {
  padding-top:15px;
  font-size: 3em;
  position:relative;
  display:block;
  .js {
    padding:0px 10px 5px 15px;
    margin-right: 7px;
    background:$yellow;
    color: $black;
    display: inline-block;
    vertical-align:middle;
  }
  .wiki {
    padding: 0px 0px 5px 0px;
    color: $yellow;
    display: inline-block;
    vertical-align:middle;
  }
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: $yellow;
}



.cc-lic {
  margin-top: 20px;
  font-size: 0.8rem;
  opacity: 0.6;
  a {
    float: left;
    margin-right: 10px;
  }
}
